Flask==2.2.5
flask-cors==4.0.1
tensorflow==2.12.0
numpy==1.23.5
librosa==0.10.2
soundfile==0.12.1
pydub==0.25.1
resampy==0.4.3
torchaudio==2.0.2
torch==2.0.1
matplotlib==3.7.2
scikit-learn==1.2.2
imblearn==0.10.1
opencv-python==4.8.0
requests==2.31.0
yt-dlp==2023.7.6
pyaudio==0.2.14
wget==3.2
sounddevice==0.4.6